body {
  direction: rtl;
}

header {
  background-image: url(image1/svg.png);
  height: 615px;
  padding: 5px;
  font-family: "El Messiri", sans-serif;
}

#basha {
  float: left;
  margin: 1em;
  width: 150px;
}

header > nav {
  /*nav inside header*/
  float: right;
}

nav {
  padding: 5px;
  margin-left: 10px;
}

nav li {
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
}

nav #one,
#two {
  border-left: 1px solid #757575;
}

nav li a {
  text-decoration: none;
  padding-left: 15px;
  color: #757575;
}

a:hover {
  text-decoration: underline;
  color: palevioletred;
}

section img {
  float: left;
}

section img {
  position: fixed;
  top: -120px;
  left: 65px;
  padding-bottom: 50px;
}

.questions2{
  border-style: hidden;
  font-family: 'El Messiri', sans-serif;
  margin-left: 20em;
  margin-right: 20em;
  margin-top: -20em;
}
.questions4{
  font-size: 4em;
  color: lightsalmon;
}
.questions3{
  font-size: 2em;
  color:lightgrey;
}

/*https://stackoverflow.com/questions/4920281/how-to-change-the-size-of-the-radio-button-using-css/45654519*/
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 100%;
  width: 18px;
  height: 18px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
input[type="radio"]:checked {
  border: 6px solid lightpink;
  outline: unset !important ;/* I added this one for Edge (chromium) support */
}
input[type="submit"]{
  font-family: 'El Messiri', sans-serif;
  background-color:lightsalmon;
  border: none;
  color: white;
  padding: 14px 30px;
  margin: 20px 400px;
  cursor: pointer;
}

.budget{
  width: 20em;
  height: 2em;
}

/*https://codepen.io/emanuelgsouza/pen/YVJOZo*/
.button {
  color: black;
  position: relative;
  padding: 0.4em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 0em 0.8em;
  font-family: "El Messiri", sans-serif;
}

.button.games {
  position: absolute;
  left: 450px;
  top: 665px;
}

.button.services {
  position: absolute;
  left: 570px;
  top: 665px;
}

.button.news {
  position: absolute;
  left: 705px;
  top: 665px;
}

.button:after,
.button:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
  transform: scale(0.85);
}

.button:hover:before {
  top: 0;
  transform: scale(1);
}

.button:hover:after {
  transform: scale(1);
}

#inform {
  font-family: "El Messiri", sans-serif;
  position: absolute;
  left: 800px;
  top: 265px;
  right: 150px;
  font-size: 20px;
  padding-left: 50px;
}
/* /////////////////////// game style /////////////////////// */
#games {
  font-size:100px;
  margin: 2em 2em;
  align-items: center;
  text-align: center;
  color: #edaa45;
  text-shadow: 0px 10px 10px #cecece;
}

#bp {
  font-size: 25px;
  font-family: "El Messiri", sans-serif;
  text-align: center;
  margin-right: 5em;
}

#bp:hover {
  color: palevioletred;
}

#ip {
  font-size: 25px;
  font-family: "El Messiri", sans-serif;
  margin-right: 14em;
}

#hp {
  font-size: 25px;
  font-family: "El Messiri", sans-serif;
  margin-right: 10em;
}

#stage-easyp {
  font-size: 27px;
  color: palevioletred;
  font-family: "El Messiri", sans-serif;
  margin-right: 14em;
  border: 1px solid #cecece;
  width: 50%;
  text-align: center;
}

#space {
  position: absolute;
  margin-top: 58em;
  margin-left: 72em;
}

#coding {
  position: absolute;
  margin-top: 58em;
  margin-left: 50em;
}

#beaver {
  position: absolute;
  margin-top: 58em;
  margin-left: 22em;
}

#stage-halfp {
  font-size: 27px;
  color: palevioletred;
  font-family: "El Messiri", sans-serif;
  margin-right: 14em;
  border: 1px solid #cecece;
  width: 50%;
  text-align: center;
  margin-top: 18em;
}

#jump {
  position: absolute;
  margin-top: 102em;
  margin-left: 73em;
}

#moon {
  position: absolute;
  margin-top: 102em;
  margin-left: 48.5em;
}

#banana {
  position: absolute;
  margin-top: 102em;
  margin-left: 24em;
}

#game {
  position: absolute;
  margin-top: 102em;
  margin-left: 0.5em;
}

#dodo {
  position: absolute;
  margin-top: 58em;
  margin-left: 0.5em;
}

#d {
  font-size: 25px;
  font-family: "El Messiri", sans-serif;
  margin-right: 7em;
}

#stage-hardp {
  font-size: 27px;
  color: palevioletred;
  font-family: "El Messiri", sans-serif;
  margin-right: 14em;
  border: 1px solid #cecece;
  width: 50%;
  text-align: center;
  margin-top: 18em;
}

#hour {
  position: absolute;
  margin-top: 140em;
  margin-left: 73em;
}

#code {
  position: absolute;
  margin-top: 140em;
  margin-left: 48.5em;
}

#diner {
  position: absolute;
  margin-top: 140em;
  margin-left: 24em;
}

/* /////////////////////// services style /////////////////////// */

.container {
  max-width: 1280px;
  margin: 10px 166px 2px 100px;
  overflow: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

#services {
  margin-top: 0.5em;
  align-items: center;
  text-align: center;
  color: #edaa45;
  text-shadow: 0px 10px 10px #cecece;
}

gallery img {
  width: 100%;
  height: auto;
  margin: auto;
}

.gallery {
  margin: 50px;
  float: left;
  width: 390px;
}

.desc {
  padding: 15px;
  text-align: center;
}
/*///////////////////////////////service coding ////////////////////////////////*/
.container {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  overflow: auto;
}

•gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 390px;
}
•gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
}
/*/////////////////////////////// news coding ////////////////////////////////*/
* {
  box-sizing: border-box;
}
#news {
  margin: 2em 2em;
  align-items: center;
  text-align: center;
  color: #edaa45;
  text-shadow: 0px 10px 10px #cecece;
}
.slideshow-container {
  position: relative;
  margin: auto;
}
.numbertext {
  color: white;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 5;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#header-news {
  font-family: "El Messiri", sans-serif;
  color: #edaa45;
  font-size: 48px;
  text-align: center;
}
.container-news {
  position: relative;
  margin: auto;
}
#img1 {
  width: 50%;
  float: right;
  padding: 5em;
  border-radius: 10em;
}
#img1-p {
  font-family: "El Messiri", sans-serif;
  color: #edaa45;
  font-size: 24px;
  padding: 9em;
  text-align: center;
  font-weight: bold;
}
#img1-p:hover{
  color: palevioletred;
  cursor: pointer;
  text-decoration: underline;
}
.container1 {
  position: relative;
  margin: auto;
}
#firstheader-news{
    padding: 1em;
    text-align: center;
    color: #E78028;
    position: static;
    width: 1381px;
    height: 48px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }

    #image1{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 1em;
    position: static;
    width: 1273px;
    height: 636.5px;
    padding-left: 5%;
   }

    #news1p{
    padding: 1em;
    text-align:left;
    position: static;
    left: 0px;
    top: 56px;
    font-family: Noto Sans Kannada UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
  }

    #secondheader-news{
    padding: 1em;
    text-align: center;
    color: #E78028;
    position: static;
    width: 1381px;
    height: 48px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }

    #image2{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 1em;
    position: static;
    width: 1273px;
    height: 636.5px;
    padding-left: 5%;
   }

    #news2p{
    padding: 1em;
    text-align:left;
    position: static;
    left: 0px;
    top: 56px;
    font-family: Noto Sans Kannada UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
  }

      #thirdheader-news{
    padding: 1em;
    text-align: center;
    color: #E78028;
    position: static;
    width: 1381px;
    height: 48px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }

    #image3{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 1em;
    position: static;
    width: 1273px;
    height: 636.5px;
    padding-left: 5%;
   }

    #news3p{
    padding: 1em;
    text-align:left;
    position: static;
    left: 0px;
    top: 56px;
    font-family: Noto Sans Kannada UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
  }

     #fourthheader-news{
    padding: 1em;
    text-align: center;
    color: #E78028;
    position: static;
    width: 1381px;
    height: 48px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }

    #image6{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 1em;
    position: static;
    width: 1273px;
    height: 636.5px;
    padding-left: 5%;
   }

    #news4p{
    padding: 1em;
    text-align:left;
    position: static;
    left: 0px;
    top: 56px;
    font-family: Noto Sans Kannada UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
  }

    #fifthheader-news{
    padding: 1em;
    text-align: center;
    color: #E78028;
    position: static;
    width: 1381px;
    height: 48px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
  }

    #image4{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 1em;
    position: static;
    width: 1273px;
    height: 636.5px;
    padding-left: 5%;
   }

    #news5p{
    padding: 1em;
    text-align:left;
    position: static;
    left: 0px;
    top: 56px;
    font-family: Noto Sans Kannada UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
  }

  #big-logo{
    width: 500px;
    height: 500px;
    margin-left: 15em;
    margin-top: 15em;
  }

  @media all and (max-width: 500px){
    header {
      background-image: url(image1/svg.png);
      height: 500px;
    }

    #basha{
      margin-top: 0.5em;
    }

    nav{
      margin-top: -4.5em;
      margin-right: -2.5em;
    }

    nav li {
      display: inline-block;
    }

    nav li a{
      padding-left: 0.5em;
      font-size: 11px;
    }

    input[type="search"] {
      display: none;
    }

    #big-logo{
      position: sticky;
      width: 300px;
      height: 300px;
      margin-left: 0.5em;
      margin-top: -20em;
    }

    #inform{
      position: sticky;
      text-align: center;
      padding-top: 0.5em;
      padding-left: 1em;
    }

    .button {
      font-size: 18px;
      margin: 15em -24em;
    }

    #games {
      font-size: 90px;
      margin-right: 0.5em;
      margin-top: 4em;
    }

    #stage-easyp{
      margin-right: 3em;
      margin-top: 11em;
    }

    #space{
      margin: 70em 8em 8em 3em;
    }
  }